<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do_App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('header'); %>
    <h2 class="homeC">Welcome <%= username %></h2>
        <!-- <div class="navbar">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/todo">ToDo</a>
            <a href="/logout"> LOGOUT </a>
            <p><%= username %></p>
        </div> -->

    

</body>

</html>