<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do_App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <%- include('header'); %>
    
<div class="todo"> 
        <h1>To Do List Application</h1>
    <div class="box">
         <div class="list" id="listAA"> 
            <h3>TASK LIST</h3>
            <p>Add tasks to your list by typing to the right add pressing enter. You may then view pending tasks below.</p>
            <ul id="todoList">
            
                <% data.forEach(function(item) { %>
                    <li class="listItem" id=<%= item.id %> >
                         <% if(item.checked === true) { %>
                            <del class="listContent"><%= item.item %></del>
                            <input class="check" type="checkbox" checked >
                        <% }else{ %>
                            <p class="listContent"><%= item.item %></p>
                            <input class="check" type="checkbox" >
                        <% } %>
                        <button class="deleteBtn" >X</button>
                    </li>
                  <% }); %>
                <!-- <li class="listItem">
                    <p class="listContent">hello</p>
                    <input class="check" type="checkbox" checked>
                    <button class="deleteBtn" >X</button>
                </li> -->
            </ul>
        </div>
         <div class="inputArea">
            <input type="text" class="inputText" placeholder="I need to..." id="inputArea">
        </div>
    </div>
</div>
</body>
<script src="/script.js"></script>
</html>